body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;

}


img {
    width: 100%;
    max-width: 100%;
    display: block;
    margin-bottom: .5rem;
}

/* ///////////////////////////////
         CONTENT              
////////////////////////////// */



/* HEADER */


.header {
    padding: 3em;
    display:flex;
    align-items: center;
    background-color: #F8F8F8;
    justify-content: space-between;     
    margin-bottom: 3rem;
}

.nav {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* MAIN */

.content {
    display: flex;
    justify-content: space-between;
    width:100%;
    max-width: 60%;
    margin: 0 auto;
}

.featured-article {
    text-align: left;
    border-bottom: 2px solid #25252525;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.featured-image {
    max-height: 60%;
    margin-bottom: 1.5rem;
}

.article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.article-secondary {
    width: 30%;
}

.article-primary{
    width: 65%;
    
}

.article-image {
    object-fit: cover;
    height: 13rem;
    margin-bottom: 1.5em;
}


.main-content {
    width: 70%;
    
}

.sidebar {
    width: 25%;
    min-width: 175px;
}

.widget {
    border: 1.2em solid #EBEBEB;
    padding: .5em;
    margin-left: .5rem;
    margin-bottom: 1.5rem;
    
}
.widget-image {
    object-fit: cover;

}
.widget-recent-post {
    border-bottom: 2px solid #25252525 ;
    margin-bottom: 1.5em;
}

.widget-recent-post:last-child {
    border-bottom: 0px solid #25252525 ;
    margin-bottom: 1.5em;
}



/* FOOTER */

footer {
    background-color: #143774;
    padding: 3em;
    text-align: center;
    color: #ffffff99;
}



/* ///////////////////////////////
         TYPOGRAPHY              
////////////////////////////// */

h1, h2, h3,p {
    margin: 0;
    margin-bottom: 1.5rem;
    }

/* HEADER */
.nav a {
    margin-top: 1rem;
    text-decoration: none;
    font-weight: 700;
    margin-left: 2em;
    margin-bottom: 0;
    color: #717171;
    letter-spacing: 3.2px;
}
.nav a:hover {
    color: #1792D2;
}
.nav .active-page {
    border-bottom: 2px solid #717171;
}

.nav .active-page:hover {
    color: #717171;
}

.header h1 {
    margin: 0;
    color: #143774;
    font-family: 'Lora', serif;
}
.header p {
    margin: 0;
    font-family: 'Ubuntu', serif;
    color: #1792D2;
    font-weight: 700;
}

/* MAIN */

.content .article-date {
    font-size: .8rem;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content .featured-article-date {
    font-size: .8rem;
    letter-spacing: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.content h2 {
    color: #143774;
    font-family: 'Lora', serif;
}
.content p {
    color: #707070;
    letter-spacing: 0.1rem;
    font-family: 'Ubuntu', serif;
    font-weight: 300;

}
.content a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: small;
    font-weight: 700;
    color: #1792D2;
}

.content p a {
    text-transform: none;
    text-decoration: underline;
    font-weight: 300;
    font-size: 1rem;
}

.widget p {
    font-size: .8rem;
}

.widget .widget-recent-post p {
    font-size: 1.2rem;
    max-width: 100%;
}


/* FOOTER */

footer h3 {
    font-weight: 300;
}

/* ///////////////////////////////
    DEVICE RESONSIVE CSS             
////////////////////////////// */


@media (max-width: 875px) {
    /* HEADER */
    .header {
        flex-direction: column;
        justify-content: center;
    }
    .nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    /* MAIN */

    .content, .article {
        flex-direction: column;
    }
    .main-content,.sidebar, .article-primary, .article-secondary {
        width: 100%;
    }

    /* FOOTER */
}

